<h1>Listing nicks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nicks.each do |nick| %>
  <tr>
    <td><%= nick.name %></td>
    <td><%= link_to 'Show', nick %></td>
    <td><%= link_to 'Edit', edit_nick_path(nick) %></td>
    <td><%= link_to 'Destroy', nick, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nick', new_nick_path %>
