<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :log %><br />
    <%= f.text_field :log %>
  </div>
  <div class="field">
    <%= f.label :channel_id %><br />
    <%= f.text_field :channel_id %>
  </div>
  <div class="field">
    <%= f.label :nick_id %><br />
    <%= f.text_field :nick_id %>
  </div>
  <div class="field">
    <%= f.label :is_privmsg %><br />
    <%= f.check_box :is_privmsg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
