<h1>Listing logs</h1>

<%= paginate @logs %>

<table>
  <tr>
    <th>Channel</th>
    <th>Nick</th>
    <th>Log</th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= link_to log.channel.name, log.channel %></td>
    <td><%= link_to log.nick.name, log.nick %></td>
    <td><%= auto_link(log.log, :all, :target=>"_blank").html_safe %></td>
  </tr>
<% end %>
</table>

<%= paginate @logs %>

