<h1>Listing logs</h1>

<%= paginate @logs %>

<table>
  <tr>
    <th>Channel</th>
    <th>Nick</th>
    <th>Log</th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= log.channel.name %></td>
    <td><%= log.nick.name %></td>
    <td><%= log.log %></td>
  </tr>
<% end %>
</table>

<%= paginate @logs %>

