<p id="notice"><%= notice %></p>

<p>
  <b>Log:</b>
  <%= @log.log %>
</p>

<p>
  <b>Channel:</b>
  <%= @log.channel_id %>
</p>

<p>
  <b>Nick:</b>
  <%= @log.nick_id %>
</p>

<p>
  <b>Is privmsg:</b>
  <%= @log.is_privmsg %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
